/*Tabla factura*/
.tableBill-container {
    width: 73%;
    height: 53%;
    margin: 1% 2%;
    margin-top: 18%;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 4px 10px 0 rgba(0, 0, 0, 0.1);
    
  }
  
  .tableBill {
    width: 100%
  }
  
  
  .tableBill-header-row {
    background-color: #2b8c8c;
    position: sticky;
    top: 0;
    z-index: 1;
  }
  
  .tableBill-row {
    padding: 8px 16px;
  
  }
  
  .tableBill-row:hover {
    background-color: #f2f2f2;
  }
  
  .pagination-container {
    position: sticky;
    bottom: 0;
    background-color: white;
    z-index: 1;
  }
  
  /*Tabla Factura*/

  .searchBill{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: absolute;
    margin-top: 2.5%;
    width: 73%;
    height: 25%;
    margin-left: 23%;
    background-color: #fff;
    border-radius: 9px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 4px 10px 0 rgba(0, 0, 0, 0.1);
  }

  .date-bornBill {
    position: absolute;
    margin-bottom: -5%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    color: #737373;
    margin-right:70%;
  }
  .dateBill{
    margin-top:8%;
  }
  .starDate{
    width: 30%;
    height: 37.5%;
    margin: 3%;
    margin-top: 8.5%;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
    border: 2px solid #2b8c8c;
  }