/*Tabla factura*/

.tableBill-container  {
  width: 92%;
  height: 58%;
  margin-left: 4.2%;
  margin-top: 17%;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 4px 10px 0 rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  background-color: white;
  border-radius: 10px;
}

.tableBill {
  width: 100%;
  border-collapse: collapse;
}
.th-tableBill {
  padding: 14px;
  background-color: #2b8c8c;
  color: white;
}

/*Tabla Factura*/


.hBill {
  display: flex;
}

.ContaBill {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: absolute;
  width: 45%;
  height: 27%;
  margin-left: 3.4%;
  background-color: #FFFFFF;
  border-radius: 9px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 4px 10px 0 rgba(0, 0, 0, 0.1);
}

.searchBill {
  display: flex;
}

.labelBill {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 16px;
  color: #737373;
  font-weight: bold;
  margin-top: 2%;
  margin-right: 59%;
}

.starDate {
  width: 70%;
  height: 82%;
  margin: 3%;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
  border: 2px solid #2b8c8c;
  text-align: center;
}

/*Label factura*/
.custom-labelBill {
  display: block;
  text-align: center;
  position: relative;
  font-size: 18px;
  margin: 10x;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #2b8c8c;
  margin-top: -1%;
}

.custom-labelBill::before,
.custom-labelBill::after {
  content: "";
  position: absolute;
  top: 47%;
  width: 180%;
  border-top: 2px solid #737373;
}

.custom-labelBill::before {
  left: -200%;
}

.custom-labelBill::after {
  right: -200%;
}

/*Label factura*/


.addBill {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: absolute;
  width: 25%;
  height: 27%;
  background-color: #2b8c8c9e;
  border-radius: 9px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 4px 10px 0 rgba(0, 0, 0, 0.1);
  margin-left: 51%;
  font-size: 16px;
}

.btnaddBill {
  width: 70%;
  height: 40px;
  margin: 10px auto;
  justify-content: center;
  color: #2b8c8c;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0 0 3px rgba(131, 130, 130, 0.6);
  margin-bottom: 3%;
  font-size: 18px;
}