/*Tabla cliente*/
.fixed-header-row {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1;
}

.show-text {
  margin-right: 10px;
}

.pagination-container {
  position: sticky;
  bottom: 0;
  background-color: white;
  z-index: 1;
  text-align: right;
  padding: 12px;

}

.select-element {
  border: 2px solid #A1A626;
  border-radius: 10px;
  text-align: center;
  padding: 6px;
  margin-right: 10px;
}

.tableClient-container {
  width: 71%;
  height: 58%;
  margin-left: 3.3%;
  margin-top: 16%;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 4px 10px 0 rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  background-color: white;
  border-radius: 10px;
}

.tableClient {
  width: 100%;
  border-collapse: collapse;
}

.th-tableClient {
  padding: 14px;
  background-color: #2b8c8c;
  color: white;
}

td {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #ccc;
}

.tableClient-row:hover {
  background-color: #f2f2f2;
}

.table-pagination {
  text-align: right;
  padding: 10px;
  background-color: #f2f2f2;
}

.pagination-controls {
  display: inline-flex;
  align-items: center;
}

.pagination-button {
  padding: 4px;
}

.pagination-page {
  margin: 0 8px;
}


.email-icon,
.edit-icon {
  margin-right: 12px;
}

.email-icon,
.delete-icon,
.edit-icon {
  color: #727272;
  transition: color 0.3s;
}

.delete-icon:hover {
  color: red;
}
/*Tabla cliente*/

/*modal editar cliente.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 25px;
  left: 0;
  width: 100%;
  background-color: transparent;
}
.modal-content {
  background-color: #1d2262;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgb(0, 0, 0, 0.2);
  max-width: 370px;
  max-height: 90vw;
  width: 100%;
}
*/

.Habilitados {
  margin-left: 42%;
}

.Deshabilitados,
.Habilitados {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: absolute;
  margin-top: 2.5%;
  width: 16%;
  height: 25%;
  background-color: #fff;
  border-radius: 9px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 4px 10px 0 rgba(0, 0, 0, 0.1);
}

.Deshabilitados {
  margin-left: 59.4%;
  font-size: 16px;
}

.text1 {
  margin-top: 3%;
  font-size: 19px;
}

.text2H,
.text2D {
  font-size: 17px;
}

.text2H {
  color: #29F247;
  font-weight: bold;
  text-shadow: 0px 0px 10px #5ddd70dc;
}

.text2D {
  color: #F25041;
  font-weight: bold;
  text-shadow: 0px 0px 10px #f25041ee;
}

.hClient {
  display: flex;
}

.disabled,
.enabled {
  width: 55px;
  height: 55px;
}

.btnClient {
  width: 50%;
  height: 40px;
  margin: 10px auto;
  justify-content: center;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  border-radius: 10px;
  background-color: #A1A626;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
  margin-bottom: 3%;
}

.ContaH {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: absolute;
  margin-top: 2.5%;
  width: 36%;
  height: 25%;
  margin-left: 4.3%;
  background-color: #FFFFFF;
  border-radius: 9px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 4px 10px 0 rgba(0, 0, 0, 0.1);
}

.Descarga {
  display: flex;
}