/**/
.custom-labelExercise {
  display: block;
  text-align: center;
  position: relative;
  font-size: 25px;
  margin: 10x;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #2b8c8c;
  right: -50px;
  margin-top: -1%;

}

.btnExercise {
  width: 190px;
  height: 44px;
  justify-content: center;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  border-radius: 10px;
  background-color: #A1A626;
  box-shadow: 0 0 3px rgba(105, 85, 85, 0.6);
  font-size: 16px;
  margin-left: 8%;
  margin-top: -2%;
  margin-bottom: 27px;
}

.searchBill1 {
  display: flex;
  border-bottom: 1px solid #e5e7eb;
  grid-gap: 500px;
  /* Espacio entre el label y el input */
  width: 100%;
  /* Ancho completo del label */

}