@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #F2F2F2;
  font-family: "Roboto", sans-serif;
}


/*Tabla cliente*/
.tableClient-container {
  width: 80%;
  height: 59%;
  margin: 1% 2%;
  margin-top: 15%; 
}

.tableClient {
  width: 100%;
}

.tableClient-cell {
  padding: 5px 16px;
  text-align: center;

}

.tableClient-header-row {
  background-color: #2b8c8c;
  position: sticky;
  top: 0;
  z-index: 1;
  color: white;

}

.tableClient-header-cell {
  color: white;
  font-weight: bold;
  text-align: center;
}

.tableClient-row {
  padding: 8px 16px;

}

.tableClient-row:hover {
  background-color: #f2f2f2;
}

.delete-icon {
  color: #727272;
}

.MuiTablePagination-select {
  border: 2px solid #A1A626;
  border-radius: 10px;
}

.pagination-button {
  color: #A1A626;
}

.pagination-container {
  position: sticky;
  bottom: 0;
  background-color: white;
  z-index: 1;
}

/*Tabla cliente*/


.Habilitados {
  align-content: center;
  text-align: center;
  position: absolute;
  width: 20%;
  height: 20%;
  margin-left: 32%;
  margin-top: 3%;
  background-color: #F2F2F2;
  border-radius: 9px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.Desabilitados{
  align-content: center;
  text-align: center;
  position: absolute;
  width: 20%;
  height: 20%;
  margin-left: 55.5%;
  margin-top: 3%;
  background-color: #F2F2F2;
  border-radius: 9px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.h{
  display: flex;
  
}
