@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #F2F2F2;
  font-family: 'Outfit', sans-serif;
}

td {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #ccc;
}

/*MODAL VALIDACION ELIMINAR*/
.modal-delete {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}

.custom-modal-delete {
  width: 20%;
  height: 24%;
  background-color: white;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}


.text-delete {
  font-size: 16px;
  margin-top: 1%;
  font-weight: bold;
  text-align: center;
}

.confirmDelete {
  background-color: #2b8c8c;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 6px;
  margin-left: 22%;
}

.cancelDelete {
  background-color: #ff5252;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 6px;
  margin-left: 5%;
}

.confirmDelete:hover,
.cancelDelete:hover {
  opacity: 0.8;
}

/*MODAL VALIDACION ELIMINAR*/

/* Estilos para la barra de progreso */
.custom-progress-bar {
  height: 2.3px;
  /* Altura de la barra de progreso */
}

/*
.custom-progress-bar .MuiLinearProgress-bar {
  background-color: #2b8c8c; Color de la barra de progreso 
}
*/

