* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #F2F2F2;
  font-family: "Roboto", sans-serif;
}


/*MODAL AGREGAR CLIENTE*/
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.modalContent {
  width: 60%;
  height: 85%;
  background-color: white;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);

}

/* Estilos para cada fila del formulario */
.formRow1,
.formRow2,
.formRow3,
.formRow4 {
  display: flex;
  align-items: center;
  margin-bottom: 3rem;

}

.dateform,
.statusform,
.genderform,
.inputformC {
  width: 27%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  margin-left: 4.6%;
  font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
  border: 1px solid #2b8c8c;
}

.dateform:focus,
.statusform:focus,
.genderform:focus,
.inputformC:focus {
  border-color: #A1A626;
  outline: none;
}


.nextPay,
.inputformC1 {
  width: 27%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  margin-left: 4.6%;
  font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
  border: 1px solid #A1A626;
}

.admDate:focus,
.nextPay:focus,
.inputformC1:focus {
  border-color: #2b8c8c;
  outline: none;
}

.formRow1 {
  margin-top: 5%;
}

.formRow4 {
  margin-top: 5%;
}

.closeButton {
  background-color: #737373;
  color: white;
  border: none;
  padding: 0.7rem 1.2rem;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 16px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

.addButton {
  background-color: #2b8c8c;
  color: white;
  border: none;
  padding: 0.7rem 1.2rem;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 16px;
  margin-right: 3%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
}

.closeButton:hover,
.addButton:hover {
  color: #000;
  background-color: #ccc;
}

.addMclient {
  margin-top: -2%;
  display: flex;
  justify-content: right;
  margin-right: 5%;
}

/* Label */

.nameClient {
  position: absolute;
  margin-top: -60px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 16px;
  margin-left: 2.6%;
  color: #737373;
}

.cedulaClient,
.telephonoClient {
  position: absolute;
  margin-top: -20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 16px;
  margin-left: 2.6%;
  color: #737373;
}

.lastnameClient,
.date-bornClient{
  position: absolute;
  margin-top: -60px;
  margin-left: 21%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 16px;
  color: #737373;
}

.secondnameClient,
.correoClient,
.precioClient {
  position: absolute;
  margin-top: -60px;
  margin-left: 39.1%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 16px;
  color: #737373;
}

.custom-label {
  display: block;
  text-align: center;
  position: relative;
  font-size: 17px;
  margin: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #A1A626;
}

.custom-label1 {
  display: block;
  text-align: center;
  position: relative;
  font-size: 17px;
  margin: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #2b8c8c;
  margin-top: -1.8%;
}

.custom-label::before,
.custom-label::after,
.custom-label1::before,
.custom-label1::after {
  content: "";
  position: absolute;
  top: 65%;
  width: 30%;
  border-top: 2px solid #737373;
}

.custom-label::before,
.custom-label1::before {
  left: 8%;
}

.custom-label::after,
.custom-label1::after {
  right: 8%;
}

/*Detalles de pago*/
.admDate {
  width: 27%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  margin-left: -0.1%;
  font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
  border: 1px solid #A1A626;
}

.membershipClient{
  position: absolute;
  margin-top: -60px;
  margin-left: 30.2%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 16px;
  color: #737373;
}
.next-payClient {
  position: absolute;
  margin-top: -60px;
  margin-left: 15.1%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 16px;
  color: #737373;
}
.date-admClient {
  position: absolute;
  margin-top: -60px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 16px;
  margin-left: -0.1%;
  color: #737373;
}
.precioClient {
  position: absolute;
  margin-top: -60px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 16px;
  margin-left: 45.3%;
  color: #737373;
}
/*Detalles de pago*/

/*MODAL AGREGAR CLIENTE*/

/*MODAL VALIDACION ELIMINAR*/
.modal-delete {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}
.custom-modal-delete{
  width: 20%;
  height: 20%;
  background-color: white;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}


.text-delete{
  font-size: 16px;
  margin-top: 1%;
  font-weight: bold;
  margin-left: 1%;
  text-align: center;
}

.confirmDelete{
  background-color: #2b8c8c;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 6px;
  margin-top: 5%;
  margin-left: 22%;
}

.cancelDelete{
  background-color: #ff5252;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 6px;
  margin-left: 5%;
}

.confirmDelete:hover,.cancelDelete:hover {
  opacity: 0.8;
}
/*MODAL VALIDACION ELIMINAR*/