.bodyLogin {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Jost', sans-serif;
    background-image: url('./fondo.png');
    background-size: 100% 115%;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.bodyLogin::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(43, 140, 140, 0.397);
    backdrop-filter: blur(1px);
}


.main {
    width: 350px;
    height: 500px;
    overflow: hidden;
    background-color: #F2F2F2;
    background-image: linear-gradient(315deg, #2b8c8c 0%, #000000 200%);
    border-radius: 10px;
    box-shadow: 5px 20px 50px #000;
    z-index: 1;
}

#chk {
    display: none;

}


.signup {
    position: relative;
    width: 100%;
    height: 100%;

}


.labelLogin {
    color: #fff;
    font-size: 35px;
    justify-content: center;
    display: flex;
    margin: 60px;
    font-weight: bold;
    cursor: pointer;
    transition: .5s ease-in-out;
}

/*Input*/
.inpLogin {
    width: 65%;
    padding: 5px;
    border: 2px solid #2b8c8c;
    border-radius: 8px;
    font-size: 16px;
    background-color: #f9f9f9;
    color: #333;
    transition: border-color 0.3s ease;
    outline: none;
    justify-content: center;
    display: flex;
    margin: 20px auto;
}

.inpLogin:focus {
    border-color: #727272;
    box-shadow: 0 0 5px rgba(121, 111, 108, 0.5);
}

.inpLogin:hover {
    background-color: #f0f0f0;
}



/*Botones*/
.btnLogin {
    width: 55%;
    height: 40px;
    margin: 10px auto;
    justify-content: center;
    margin-left: 22%;
    color: #fff;
    font-size: 1em;
    font-weight: bold;
    margin-top: 20px;
    outline: none;
    border: none;
    border-radius: 5px;
    transition: .2s ease-in;
    cursor: pointer;
    border-radius: 10px;
    background-color: #A1A626;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

.btnLogin:hover {
    background: #13312f;

}

.btnSign {
    width: 55%;
    height: 42px;
    margin: 10px auto;
    justify-content: center;
    margin-left: 22%;
    color: #fff;
    font-size: 1em;
    font-weight: bold;
    margin-top: 36px;
    outline: none;
    border: none;
    border-radius: 5px;
    transition: .2s ease-in;
    cursor: pointer;
    border-radius: 10px;
    background-color: #A1A626;
    box-shadow: 0 0 10px rgba(139, 132, 132, 0.6);
}

.btnSign:hover {
    background: #13312f;

}


.login {
    height: 460px;
    background: #F2F2F2;
    border-radius: 60% / 10%;
    transform: translateY(-180px);
    transition: .8s ease-in-out;

}


.login label {
    color: #A1A626;
    transform: scale(.6);

}


#chk:checked~.login {
    transform: translateY(-500px);

}


#chk:checked~.login label {
    transform: scale(1);

}


#chk:checked~.signup label {
    transform: scale(.6);

}



/* styles.css */
.usernameForm {
    margin-left: 70px;
    bottom: 22px;
}

.passwordForm {
    margin-left: 70px;
    top: 1px;
}

.iconForm {
    color: #A1A626;
    left: 8px;
}
.customInputLabel {
    color: white;
}


.customInput {
    color: white;
}

.customInput.MuiInput-underline:after {
    border-bottom: 1px solid white;
    /* Cambia borderBottomColor a border-bottom */
}

.customInput.MuiInput-underline:before {
    border-bottom: 1px solid white;
    /* Cambia borderBottomColor a border-bottom */
}

.customInput:hover .MuiInput-underline:before {
    border-bottom: 1px solid white;
    /* Cambia borderBottomColor a border-bottom */
}

.customInput:focus .MuiInput-underline:before {
    border-bottom: 1px solid white;
    /* Cambia borderBottomColor a border-bottom */
}