
.container-report {
    display: flex;
  }
  
  .element-report {
    background-color: #ffffff;
    width: 20%;
    padding: 50%;
    height: 20%;
    margin-top: 20%;
    margin-left: 20%;
    border-radius: 10px;
    -webkit-box-shadow: 0px 3px 5px 2px rgba(51, 51, 51, 1);
    -moz-box-shadow: 0px 3px 5px 2px rgba(51, 51, 51, 1);
    box-shadow: 0px 3px 5px 2px rgba(51, 51, 51, 1);
    display: flex;
    justify-content: center; /* Centrar contenido horizontalmente */
    align-items: center; /* Centrar contenido verticalmente */
  }

  
  .service-report {
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin-top: 2%;
    color: #284B63;
    font-weight: bold;
    font-size: 22px;
  }
  
  .button-report {
    padding: 8px 16px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
  }

.Row-report {
    display: block;
    position:fixed;
    background-color: #ffffff;
    width: 70%;
    height: auto;
    margin-top: 8%;
    margin-left: 6%;
    border-radius: 10px;
    -webkit-box-shadow: 0px 3px 5px 2px rgba(51, 51, 51, 1);
    -moz-box-shadow: 0px 3px 5px 2px rgba(51, 51, 51, 1);
    box-shadow: 0px 3px 5px 2px rgba(51, 51, 51, 1);
  }
  

  /* ReportStyles.css */
.report-container {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  
  .payments-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }
  
  .payments-table th,
  .payments-table td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .new-clients-list,
  .abandoned-clients-list {
    list-style: none;
    padding-left: 0;
    margin-top: 10px;
  }
  
  .new-clients-list li,
  .abandoned-clients-list li {
    margin-bottom: 8px;
  }
  