.container-repot-ganancia {
  display: flex;
}


.element-container-report {
  flex: 1;
  background-color: #f0f0f0;
  /* Color del rectángulo */
  padding: 10px;
  /* Espacio interno del rectángulo */
  border: 1px solid #ccc;
  /* Borde del rectángulo */
  display: flex;
  justify-content: center;
  /* Centrar contenido horizontalmente */
  align-items: center;
  /* Centrar contenido verticalmente */
}

.Row-report {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.report-titles {
  margin: 0;
  font-size: 18px;
}

.button-report {
  padding: 8px 16px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.buscador {
  margin-top: 62.3%;
  display: flex;
  margin-left: 4.4%;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: absolute;
  width: 69%;
  height: 15.5%;
  background-color: #fff;
  border-radius: 9px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 4px 10px 0 rgba(0, 0, 0, 0.1);
}

.textClientes,
.textGanancia{
  font-size: 20px;
  font-weight: bold;
}

.textGanancia {
  color: #2b8c8c;
}

.textClientes{
  color: #82ca9d;
}

.Ingresos,
.Ganancias,
.Cancelar,
.Clientes {
  margin-top: 49%;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: absolute;
  width: 15%;
  height: 25%;
  background-color: #fff;
  border-radius: 9px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 4px 10px 0 rgba(0, 0, 0, 0.1);
}

.Ganancias {
  margin-left: 4.6%;
}

.Ingresos {
  margin-left: 22.4%;
}

.Cancelar {
  margin-left: 58.3%;
}

.Clientes {
  margin-left: 40.5%;
}

.graph {
  top: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: absolute;
  width: 69%;
  height: 50%;
  margin-left: 4.4%;
  background-color: #FFFFFF;
  border-radius: 9px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 4px 10px 0 rgba(0, 0, 0, 0.1);
}
.graph2 {
  top: 30.5%;
  width: 69%;
  height: 50%;
  margin-left: 4.4%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: absolute;
  background-color: #fff;
  border-radius: 9px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 4px 10px 0 rgba(0, 0, 0, 0.1);
}
.graph-controler {
  display: block;
  background-color: #fff;
  border-radius: 9px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 4px 10px 0 rgba(0, 0, 0, 0.1);
}

.graph2 {
  margin-top: 17.3%;
}

.graph {
  margin-top: 2%;
}


/*Tabla Reportes*/
.tableReport-container {
  width: 87.5%;
  height: 54%;
  margin-left: 5.7%;
  margin-top: 90.6%;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 4px 10px 0 rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  background-color: white;
  border-radius: 10px;
}



.report-table {
  width: 100%;
  border-collapse: collapse;
}


.th-tableReport {
  padding: 14px;
  background-color: #2b8c8c;
  color: white;
}

.tableReport-row:hover {
  background-color: #f2f2f2;
}

/*.container-table-report{
    width: 80%;
    height: 59%;
    margin-left: 3.3%;
    margin-top: 16%;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 4px 10px 0 rgba(0, 0, 0, 0.1);
  }

  .report-table {
    justify-content: center;
    margin-top: 16%;
    width: 96%;
    margin-left: 3.3%;
    border: 1px solid #e5e7eb;
    align-items: center;
  }*/

/*
.container-report {
    display: flex;
  }
  
  .element-report {
    background-color: #ffffff;
    width: 20%;
    padding: 50%;
    height: 20%;
    margin-top: 20%;
    margin-left: 20%;
    border-radius: 10px;
    -webkit-box-shadow: 0px 3px 5px 2px rgba(51, 51, 51, 1);
    -moz-box-shadow: 0px 3px 5px 2px rgba(51, 51, 51, 1);
    box-shadow: 0px 3px 5px 2px rgba(51, 51, 51, 1);
    display: flex;
    justify-content: center; /* Centrar contenido horizontalmente 
    align-items: center; /* Centrar contenido verticalmente 
  }

  
  .service-report {
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin-top: 2%;
    color: #284B63;
    font-weight: bold;
    font-size: 22px;
  }
  
  .button-report {
    padding: 8px 16px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
  }

.Row-report {
    display: block;
    position:fixed;
    background-color: #ffffff;
    width: 70%;
    height: auto;
    margin-top: 8%;
    margin-left: 6%;
    border-radius: 10px;
    -webkit-box-shadow: 0px 3px 5px 2px rgba(51, 51, 51, 1);
    -moz-box-shadow: 0px 3px 5px 2px rgba(51, 51, 51, 1);
    box-shadow: 0px 3px 5px 2px rgba(51, 51, 51, 1);
  }
  

  /* ReportStyles.css 
.report-container {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  
  .payments-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }
  
  .payments-table th,
  .payments-table td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .new-clients-list,
  .abandoned-clients-list {
    list-style: none;
    padding-left: 0;
    margin-top: 10px;
  }
  
  .new-clients-list li,
  .abandoned-clients-list li {
    margin-bottom: 8px;
  }
  */