
/* container background*/
.Row {

  position: absolute;
  background-color: #ffffff;
  width: 75%;
  height: auto;
  margin-top: 3%;
  margin-left: 3%;
  background-color: #FFFFFF;
    border-radius: 9px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 4px 10px 0 rgba(0, 0, 0, 0.1);
}

.center{
  align-items: center;
  justify-content: center;
}
.flexs{
  display: flex;
  margin-bottom: 2%;
}

.container-routine {
  justify-content: center;
}

/*first frame*/

.service-titles {
  margin-bottom: -3%;
  margin-left: 5%;
  margin-top: 2%;
  color: #284B63;
  font-weight: bold;
  font-size: 22px;

}

.button-routine {
  background-color: #A1A626;
  color: white;
  padding: 0.5% 3%;
  font-size: 18px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
  margin-left: 80%;
}

.line-routine {
  margin-top: 3%;
  border-bottom: 1px solid #e5e7eb;
  margin-bottom: 3%;
}

/*second part*/

.content-select {
  margin-top: 2%;
  margin-left: 5%;
  color: #284B63;
  font-weight: bold;
  font-size: 22px;
}

.form-select {
  align-items: center;
  justify-content: center;
  margin-top: 1%;
  margin-left: 6%;
  display: flex;
  border-radius: 5px;
  border: 2px solid #727272;
  margin-bottom: -7%;

}

.search-routine {
  margin-left: 73%;
  padding: 0.5% 3%;
  font-size: 15px;
  font-weight: bold;
  background-color: white;
  color: #727272;
  border: none;
  border-radius: 20px;
  border: 2px solid #727272;
}


/*third part*/

.routine-table {
  justify-content: center;
  margin-top: 4%;
  width: 96%;
  margin-left: 2%;
  border: 1px solid #e5e7eb;
  margin-bottom: 2%;
  align-items: center;
}

.routine-th,
.routine-td {
  padding: 20%;
  border: 1px;
  text-align: center; 
   align-items: center;
}

.routine-th {
  background-color: #2b8c8c;
  font-weight: bold;
  border-radius: 1%;
  border-bottom: 1px solid #e5e7eb;
  color: white;

}

.container-table {
  padding: auto;
  align-items: center;
}

.table-button{
  margin-top: 2%;
  margin-left: 25%;
  margin-bottom: 3%;
  align-items: center;
  justify-items: center;
  background-color: #2b8c8c;
  color: white;
  padding: 0.5% 3%;
  font-size: 18px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
}

/*Add Routine*/
.content-addRoutine {
  position:fixed;
  padding: 3%;
  max-width: 400px;
  background-color: white;
  border-radius: 8px;
  text-align: center;
  width: 80%;
}

.modal-addRoutine {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.close-addRoutine {
  position: absolute;
  top: 2%;
  right: 6%;
  font-size: 27px;
  font-weight: bold;
  color: black;
  cursor: pointer;
}

.text-addRoutine {
  justify-content: center;
  color: #000;
  font-size: 17px;
}

.info-addRoutine {
  align-items: center;
  margin-top: 2%;
  padding: 0.5% 3%;
  font-size: 15px;
  font-weight: bold;
  background-color: white;
  color: #727272;
  border: none;
  border-radius: 20px;
  border: 2px solid #727272;
}

.line-addRoutine {
  margin-top: 2%;
  border-bottom: 1px solid #e5e7eb;
}

.description-addRoutine {
  justify-content: center;
  align-items: center;
  margin-top: 2%;
  padding: 7% 3%;
  font-size: 15px;
  font-weight: bold;
  background-color: white;
  color: #727272;
  border: none;
  border-radius: 20px;
  border: 2px solid #727272;
}

.space-addRoutine{
  margin-top: 5%;
}

.button-addRoutine {
  background-color: #8c2b2b;
  color: white;
  margin-left: 2% ;
  padding: 1% 1%;
  font-size: 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
}

.button-addRoutine2 {
  margin-top: 8%;
  align-items: center;
  color: white;
  font-size: 12px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
}
.colors{
  background-color: #2b8c8c;
  padding: 5% 10%;
}
.colors, .exit-addRoutine{
color: #ffffff;
}
.exit-addRoutine{
  margin-left: 6%;
  background-color: #8c2b2b;
  padding: 5% 10%;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 50px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}




.memberC {
  margin-left: 51%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: absolute;
  margin-top: 2.5%;
  width: 24%;
  height: 25%;
  background-color: #fff;
  border-radius: 9px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 4px 10px 0 rgba(0, 0, 0, 0.1);
}

.ContaVC {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: absolute;
  margin-top: 2.5%;
  width: 45%;
  height: 25%;
  margin-left: 4.3%;
  background-color: #FFFFFF;
  border-radius: 9px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 4px 10px 0 rgba(0, 0, 0, 0.1);
}

.button-client {
  background-color: #A1A626;
  color: white;
  padding: 0.5% 3%;
  font-size: 18px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
  margin-left: 8%;
  margin-top: 1%;
}