/*Add Routine*/
.content-addRoutine {
  position: fixed;
  padding: 3%;
  max-width: 400px;
  background-color: white;
  border-radius: 8px;
  text-align: center;
  width: 80%;
}

.modal-addRoutine {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;

}

.close-addRoutine {
  position: absolute;
  top: 2%;
  right: 6%;
  font-size: 27px;
  font-weight: bold;
  color: black;
  cursor: pointer;
}

.text-addRoutine {
  justify-content: center;
  color: #000;
  font-size: 17px;
}

.info-addRoutine {
  align-items: center;
  margin-top: 2%;
  padding: 0.5% 3%;
  font-size: 15px;
  font-weight: bold;
  background-color: white;
  color: #727272;
  border: none;
  border-radius: 20px;
  border: 2px solid #727272;
}

.line-addRoutine {
  margin-top: 2%;
  border-bottom: 1px solid #e5e7eb;
}

.description-addRoutine {
  justify-content: center;
  align-items: center;
  margin-top: 2%;
  padding: 7% 3%;
  font-size: 15px;
  font-weight: bold;
  background-color: white;
  color: #727272;
  border: none;
  border-radius: 20px;
  border: 2px solid #727272;
}

.space-addRoutine {
  margin-top: 5%;
}

.button-addRoutine {
  background-color: #8c2b2b;
  color: white;
  margin-left: 2%;
  padding: 1% 1%;
  font-size: 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
}

.button-addRoutine2 {
  margin-top: 8%;
  align-items: center;
  color: white;
  font-size: 12px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
}

.colors {
  background-color: #2b8c8c;
  padding: 5% 10%;
}

.colors,
.exit-addRoutine {
  color: #ffffff;
}

.exit-addRoutine {
  margin-left: 6%;
  background-color: #8c2b2b;
  padding: 5% 10%;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 50px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}




.memberC {
  margin-left: 51%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: absolute;
  margin-top: 2.5%;
  width: 24%;
  height: 25%;
  background-color: #fff;
  border-radius: 9px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 4px 10px 0 rgba(0, 0, 0, 0.1);
}

.ContaVC {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: absolute;
  margin-top: 2.5%;
  width: 45%;
  height: 25%;
  margin-left: 4.3%;
  background-color: #FFFFFF;
  border-radius: 9px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 4px 10px 0 rgba(0, 0, 0, 0.1);
}

.button-client {
  background-color: #A1A626;
  color: white;
  padding: 0.5% 3%;
  font-size: 18px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
  margin-left: 8%;
  margin-top: 1%;
}




/*NUEVO*/
.ContaRoutine {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: absolute;
  margin-top: 3%;
  width: 69%;
  height: 30%;
  margin-left: 4.4%;
  background-color: #FFFFFF;
  border-radius: 9px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 4px 10px 0 rgba(0, 0, 0, 0.1);
}

.btnRoutine {
  width: 55%;
  height: 44px;
  justify-content: center;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  border-radius: 10px;
  background-color: #A1A626;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
  font-size: 16px;
  margin-top: 6.5%;
  margin-right: -54%;
}

.custom-labelRoutine {
  display: block;
  text-align: center;
  position: relative;
  font-size: 25px;
  margin: 10x;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #2b8c8c;
  top: -8%;
}

.custom-labelRoutine::before,
.custom-labelRoutine::after {
  top: 46%;
  content: "";
  position: absolute;
  width: 330%;
  border-top: 2px solid #737373;
}

.custom-labelRoutine::before {
  left: -350%;
}

.custom-labelRoutine::after {
  right: -350%;
}

/*TABLA*/

.tableRoutine-container {
  width: 69%;
  height: 54%;
  margin-left: 3.3%;
  margin-top: 19.5%;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 4px 10px 0 rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  background-color: white;
  border-radius: 10px;
}


.tableRoutine {
  width: 100%;
  border-collapse: collapse;
}


.th-tableRoutine {
  padding: 14px;
  background-color: #2b8c8c;
  color: white;
}

td {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #ccc;
}

.tableRoutine-row:hover {
  background-color: #f2f2f2;
}