@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400&display=swap');

.inputMed {
    width: 66px;
    height: 35px;
    margin-left: 36.3%;
    border: 1px solid #2b8c8c;
    border-radius: 3px;
    text-align: center;
}

.inputMed:focus {
    border-color: #A1A626;
    outline: none;
}

.inputMed::-webkit-inner-spin-button,
.inputMed::-webkit-outer-spin-button {
    height: 35px;
}

.modalMeasure {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;
    background-color: rgba(0, 0, 0, 0.5);
}

.modalMeasure-content {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    max-width: 35%;
    max-height: 85%;
    width: 100%;
    overflow-y: auto;
}

.measureHader {
    display: flex;
    position: sticky;
    top: 0;
    background-color: rgb(175, 164, 164);
    padding: 10px;
    z-index: 1;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-content: center;
}

.measureDate {
    width: 145px;
    height: 35px;
    margin-left: 3%;
    border: 1px solid #2b8c8c;
    border-radius: 3px;
    text-align: center;
    font-size: 16px;
}

.inputMed-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
    align-content: center;
    align-items: center;
}

.inputMed-container {
    width: calc(100% - 0px);
    /* 50% del ancho menos un pequeño espacio */
    margin-right: 5px;
    /* Espacio entre las columnas */
}

.inputMed-container label {
    display: block;
    text-align: center;
    margin-bottom: 1px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 17px;
    color: #737373;
}

/* Estilo del scroll */
.modalMeasure-content::-webkit-scrollbar {
    width: 10px;
    background-color: #f2f2f2;
    border-radius: 5px;

}

.modalMeasure-content::-webkit-scrollbar-thumb {
    background-color: #a7a5a5;
    border-radius: 0 5px 5px 0;
}

/* Estilo del scroll */

.tableMeasure {
    width: 90%;
    overflow-x: auto;
    margin-left: 5%;
    margin-top: 26px;
    margin-bottom: 26px;
}

.tableMeasure::-webkit-scrollbar-thumb {
    background-color: #919090;
}

.custom-tableMe {
    width: 100%;
    border-collapse: collapse;

}

.custom-tableMe th,
.custom-tableMe td {
    border: 1px solid #919090;
    padding: 8px;
    text-align: center;
    min-width: 105px;
}

.custom-tableMe td:first-child {
    text-align: left;
    background-color: #f2f2f277;
    color: #A1A626;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 17px;
}

.custom-tableMe td {
    white-space: nowrap;
}

.custom-tableMe .more-options-icon {
    position: relative;
    top: -1px;
    color: #A1A626;
}

.btnMeasure {
    width: 21%;
    margin-top: 4px;
    background-color: #2b8c8c;
    color: white;
    border: none;
    padding: 0.7rem 1.2rem;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    margin-right: 3%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
    margin-left: 74%;
}

.btnMeasure:hover {
    color: #000;
    background-color: #f2f2f277;
}

.ContaMea {
    display: flex;
    flex-direction: column;
    text-align: left;
    /* Alinea el texto a la izquierda (puedes ajustar según tus necesidades) */
    position: absolute;
    margin-top: 15px;
    width: 36%;
    height: 77%;
    margin-left: 41%;
    background-color: #FFFFFF;
    border-radius: 9px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 4px 10px 0 rgba(0, 0, 0, 0.1);
    font-family: 'Outfit', sans-serif;
}

.mClient {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mClient img {
    margin-top: -20px;
    width: 60%;
    margin-bottom: -45px;
}

.m {
    padding-left: 18px;
}

.icon-text {
    display: flex;
    align-items: center;
    margin-bottom: 17px;
}

.icon-text .titlePerfil {
    font-weight: bold;
    color: #888;
}

.icon-text svg {
    margin-right: 8px;
}

.icon-text .texPerfil {
    color: #02afaf;
    margin-left: 5px;
}

.IMGCarousel {
    margin-top: 15px;
    margin-left: 1%;

}

.IMGSub {
    border-radius: 9px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 4px 10px 0 rgba(0, 0, 0, 0.1);
}

.arrow-icons {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
}

.mod {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
}

.modalPerfil {
    display: flex;
    flex-direction: column;
    width: 35%;
    height: 85%;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    font-family: 'Outfit', sans-serif;
    overflow-y: auto;
    padding-left: 50px;

}

.modalPerfil label {
    margin-top: 13px;
    color: #706f6f;
    font-weight: bold;
}

.modalPerfil::-webkit-scrollbar {
    width: 10px;
    background-color: #f2f2f2;
    border-radius: 5px;

}

.modalPerfil::-webkit-scrollbar-thumb {
    background-color: #a7a5a5;
    border-radius: 0 5px 5px 0;
}

.modalPerfil input {
    margin-top: 1px;
    width: 88%;
    border: 1px solid #888;
    border-radius: 3px;
    padding-left: 6px;
}

.modalPerfil input:focus {
    border-color: #2b8c8c;
    outline: none;
}

.btnPerfil {
    display: flex;
    margin-top: 17px;
    margin-bottom: 15px;
}

.btnPerfil button:not(:last-child) {
    margin-right: 33px;
}

.btnPerfil1 {
    background-color: #2b8c8c;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    margin-left: 40%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
    width: 20%;
    height: 150%;
}

.btnPerfil2 {
    background-color: #737373;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
    width: 20%;
    height: 150%;
}